@charset "utf-8";
#main
	{
		width:1000px; 
		height:590px; 
		/*border-color:#FF0000; 
		border-width:medium; 
		border-style:solid;*/
		border:medium solid #ff0000;
		margin:auto;
	}
	
	.header
	{
		width:1000px;
		height:150px;
	}
	
	#logo
	{
		width:300px; 
		height:150px;
	}
	
	#companyname
	{
		width:700px; 
		height:150px; 
		background-color:#000000; 
		color:#FFFFFF; 
		font-size:36px; 
		font-style:italic; 
		font-weight:bold; 
		text-align:center; 
		text-shadow:2px 2px red;
	}
	
	.menubar
	{
		width:1000px;
		height:20px;
		background-color:#990066;
	}
	
	.menuitem
	{
		width:165px;
		text-align:center;
	}
	
	.menuitem a
	{
		color:#000000;
		text-decoration:none;
		text-transform:uppercase;
	}
	
	#content
	{
		width:1000px;
		height:400px;
		background-color:#CCCCCC;
		vertical-align:top;
	}
	
	#footer
	{
		width:1000px;
		height:20px;
		background-color:#FF6600;
		color:#FFFFFF;
		text-align:center;
		font-weight:bold;
	}
